:root {
    --ciano: #00C9D1;
    --verde: #49997C;
    --branco: #fff;
    --preto: #000;
    
    --fonte-geral: 'Source Sans Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-geral);
    box-sizing: border-box;
}

.topo {
    width: 100vw;
    background-color: var(--branco);
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.400);
    
    position: fixed;
    z-index: 1;
}

.container-topo {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1.3em 0;

    display: flex;
    justify-content: space-between;
}

.pousada-secreta a {
    color: var(--preto);
    font-size: 1.5em;
    text-decoration: none;
}

.container-links-topo {
    display: flex;
    align-items: center;
}

.link-topo {
    margin: 0 1em;
    font-size: .95em;
    text-transform: uppercase;
    text-decoration: none;
}

.container-banner {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../img/img-fundo.jpg');
    background-size: cover;
}

.container-texto-banner {
    color: var(--branco);
    text-align: center;
    padding: 0 1.5em 2em 1.5em;
    background-color: #49997cc1;
    border: 1px solid var(--ciano);
    border-radius: 2%;
}

.container-texto-banner h1 {
    font-size: 3.2em;
    margin: .9em 0;
}

.container-texto-banner p {
    font-size: 1.5em;
}

.container-texto {
    text-align: center;
    align-items: center;
    margin: 2em;
}

.container-texto h2 {
    text-transform: uppercase;
    font-size: 1.75em;
    font-weight: normal;
    padding: 1em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.400);
}

.container-texto p {
    font-size: .94em;
    padding-bottom: 1.25em;
}

.container-quartos {
    display: flex;
    margin: auto;
    margin-bottom: 3em;
    max-width: 1024px;
}

.quarto {
    width: calc(100%/3 - 2em);
    margin: 0 1em;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.200);
}

.quarto img {
    width: 100%;
    object-fit: cover;
}

.quarto p {
    font-size: 1.1em;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0;
    border-bottom: 2px solid var(--verde);
}

.quarto p a {
    color: var(--preto);
    text-decoration: none;
}

.quarto p a:hover {
    text-decoration: underline;
}

iframe {
    width: 100%;
    height: 22em;
}

.container-informacoes {
    display: flex;
    flex-flow: row wrap;
}

.informacao {
    display: flex;
}