:root {
    --azul: #6592c9;
    --verde: #0a9077;
    --cinza: #3d3d3d;
    --branco: #fff;
    --preto: #000;

    
    --fonte-geral: 'Source Sans Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-geral);
    box-sizing: border-box;
    color: var(--cinza);
}

.topo {
    width: 100vw;
    background-color: var(--branco);
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.400);
    
    position: fixed;
    z-index: 1;
}

.container-topo {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1.3em 0;

    display: flex;
    justify-content: space-between;
}

.pousada-secreta a {
    color: var(--preto);
    font-size: 1.5em;
    text-decoration: none;
}

.pousada-secreta span {
    color: var(--azul);
}

.container-links-topo {
    display: flex;
    align-items: center;
}

.link-topo {
    margin: 0 1em;
    font-size: .95em;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s ease-in;
}

.link-topo:hover {
    color: var(--azul);
}

.container-banner {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../img/img-fundo.jpg');
    background-size: cover;
}

.container-texto-banner {
    text-align: center;
    padding: 0 1.5em 2em 1.5em;
    background-color: #0a9077b3;
    border: 1px solid var(--azul);
    border-radius: 2%;
}

.container-texto-banner h1 {
    color: var(--branco);
    font-size: 3.2em;
    margin: .9em 0;
}

.container-texto-banner p {
    color: var(--branco);
    font-size: 1.5em;
}

.container-texto {
    text-align: center;
    align-items: center;
    margin: 2em;
}

.container-texto h2 {
    text-transform: uppercase;
    font-size: 1.75em;
    font-weight: normal;
    padding: 1em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.400);
}

.container-texto p {
    font-size: .94em;
    padding-bottom: 1.25em;
}

.container-quartos {
    display: flex;
    margin: auto;
    margin-bottom: 3em;
    max-width: 1024px;
}

.quarto {
    width: calc(100%/3 - 2em);
    margin: 0 1em;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.200);
}

.quarto img {
    width: 100%;
    object-fit: cover;
}

.quarto p {
    font-size: 1.1em;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0;
    border-bottom: 2px solid var(--azul);
}

.quarto p a {
    color: var(--preto);
    text-decoration: none;
}

.quarto a:hover {
    text-decoration: underline;
}

iframe {
    width: 100%;
    height: 22em;
}

.container-informacoes {
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

.informacao {
    display: flex;
    width: 45%;
    margin: 0 10px;
    align-items: center;
    justify-content: space-between;
}

.informacao-texto {
    flex: 1 1 auto;
}

.informacao-texto h3 {
    font-size: 1em;
    margin-bottom: 1em;
}

.informacao-texto p {
    font-size: .85em;
}

.informacao img {
    width: 6rem;
    height: 7rem;
    object-fit: cover;
    margin: 10px;
}

.rodape {
    background-color: var(--verde);
}

.container-largura-rodape {
    max-width: 1024px;
    margin: auto;
    padding: 2em 0;
}

.container-dados-rodape {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.titulo-rodape {
    font-size: 1.2em;
    color: var(--branco);
}

.info-rodape {
    width: 22%;
    display: flex;
    align-items: center;
}

.info-rodape a {
    font-size: .85em;
    margin-right: .80rem;
    color: var(--branco);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.info-rodape img {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    margin-right: 1em;
    object-fit: cover;
}

.copyright {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #076756;
    font-weight: 600;
    width: 100%;
}

.copyright p {
    color: var(--branco);
}

/* Estilos exclusivos da página de quartos */


.container-banner-quartos {
    height: 50vh;
}

.link-quarto {
    text-decoration: none;
}