.banner {
    height: 50rem;

    background-image: url('../img/recepcao.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.container-banner {
    height: 100%;
    padding: 1rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-banner h1 {
    color: var(--branco);
    font-size: 3.4em;
    font-weight: normal;
    text-transform: uppercase;
}

.sobre {
    padding: 5rem 1rem;
}

.container-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-topicos-sobre {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.container-topicos-sobre h3 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 1.5rem;
}

.topico {
    font-size: 1.4em;
    text-align: left;
}

.especialidades {
    display: flex;
    flex-direction: column;
}

.container-especialidades-imagens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 4rem;
    justify-content: center;
    align-items: center;

    margin-top: 3rem;
}

.container-img {
    width: calc(100%/3 - 8rem);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.400);
    margin-bottom: 4rem;
}

.container-img a {
    text-decoration: none;
}

.container-img img {
    width: 100%;
    object-fit: cover;
}

.container-img figcaption {
    text-align: center;
    font-size: 1.8em;
    text-transform: uppercase;
    padding: 1rem 0;
}

.especialidades .ver-horario {
    color: var(--branco);
    background-color: var(--ciano);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.400);

    font-size: 1.6em;
    text-decoration: none;
    text-transform: uppercase;

    padding: 1rem 2rem;
    margin: 0 auto 2.5rem auto;
}   

.contato {
    margin-bottom: 5rem;
}

.contato iframe {
    width: 100%;
    height: 35rem;
}


@media screen and (max-width: 768px) {
    .banner {
        height: 30rem;
    }
    .container-sobre img {
        display: none;
    }
    .container-img {
        width: calc(100%/2 - 4rem);
    }
}

@media screen and (max-width: 1024px) {
    .contato iframe {
        width: calc(100% - 4rem);
        margin: 0 2rem;
    }
}

@media screen and (max-width: 425px) {
    .banner {
        height: 22rem;
    }
    .container-sobre img {
        display: none;
    }
    .container-topicos-sobre h3 {
        white-space: nowrap;
    }
    .container-img {
        width: 100%;
        margin: 2rem 4rem;
    }
    .container-img img {
        width: 100%;
    }
}