:root {
    --branco: #fff;
    --ciano: #00CAD1;
    --verde-escuro: #0D6E71;
    --cor-fonte: #0000008C;
    --fonte: 'Source Sans Pro', sans-serif;

    --tamanho-logo1: 13rem;
}

* { 
    color: var(--cor-fonte);
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: var(--fonte);
}

html {
    font-size: 10px;
}

.limitador-largura {
    max-width: 1024px;
    margin: auto;
}

.container-texto {
    text-align: center;
    width: 80%;
    max-width: 60rem;
    margin: auto;
}

.container-texto h2 {
    font-size: 2.4em;
}

.container-texto h3 {
    font-size: 1.8em;
}

.container-texto p {
    font-size: 1.6rem;
    margin: 1.25rem 0;
}

.container-texto p strong {
    font-size: 1em;
}

@media (hover: hover) {
    .link-topo:hover {
        color: var(--cor-fonte);
        transition-duration: .5s;
    }
}

/* Estilização do topo das páginas do site */

header {
    background-color: var(--ciano);
}

.container-topo {
    padding: 0 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-logo img {
    width: var(--tamanho-logo1);
}

.links-nav {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.link-topo {
    color: var(--branco);
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: bold;
}

/* Estilização do footer das páginas do site */

footer {
    background-color: var(--verde-escuro);
    padding: 2rem 0;
}

.container-rodape {
    text-align: center;
}

.container-rodape img {
    width: var(--tamanho-logo1);
}

.container-texto-rodape p {
    color: var(--branco);
}

@media  screen and (max-width: 425px) {
    .container-texto {
        width: 90%;
    }
    .container-topo {
        flex-direction: column;
        padding: 1rem;
    }
    .links-nav {
        margin-top: 2.2rem;
        column-gap: 5rem;
    }
}