:root {
    --branco: #fff;
    --preto: #000;
    --cor1: #f1f3f7;
    --cor2: #f6f6f6;
    --cor3: #a89f9f;
    --cor4: #233032;
    --cor5: #2f86d6;

    --fonte-projeto: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: var(--fonte-projeto);
    font-size: 10px;
}

.topo {
    display: flex;
    align-items: center;
}

.container-topo {
    width: 80%;
    max-width: 900px;
    margin: 1rem auto;
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 2em;
}

.logo {
    width: 5rem;
    margin-right: 1em;
}

.texto-logo h2 {
    font-size: 1.6em;
    margin-bottom: .3rem;
}

.texto-logo p {
    color: var(--cor5);
    font-size: .9em;
    white-space: nowrap;
}

.container-links-topo {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.link-topo {
    color: var(--cor3);
    font-size: .7em;
    font-weight: bold;
    text-decoration: none;
}

.banner {
    background-color: var(--cor5);
    padding: 5rem 0;
}

.container-banner {
    width: 80%;
    max-width: 900px;
    margin: auto;
}

.container-texto-banner {
    color: var(--branco);
    margin: auto;
}

.container-texto-banner h2 {
    font-size: 1.6em;
    margin: 1rem auto;
}

.container-texto-banner p {
    width: 80%;
    max-width: 900px;
}

.img-banner {
    width: 100%;
    text-align: right;
}

.container-anuncio {
    color: var(--branco);
    padding: 2rem 0;
    margin: auto;
    width: 80%;
    max-width: 900px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.anuncios {
    margin-bottom: 5rem ;
}

.anuncios h3 {
    font-size: .8em;
}

.anuncios p {
    font-size: .7em;
}

.anuncios a {
    display: flex;
    align-items: center;
    font-size: .7em;
    padding: .5rem;
    text-decoration: none;
    margin-left: 1rem;
}

.anuncios a > img {
    width: 1rem;
    margin-right: .5rem;
}

.primeiro-anuncio {
    background-color: var(--cor4);
}

.primeiro-anuncio a {
    color: var(--branco);
    background-color: var(--cor5);
}

.segundo-anuncio {
    background-color: var(--cor5);
}

.segundo-anuncio a {
    white-space: nowrap;
    color: var(--branco);
    background-color: var(--cor4);
}

#informacoes {
    width: 80%;
    max-width: 900px;
    margin: auto;
    margin-bottom: 5rem;
}

.informacao {
    text-align: center;
}

.img-info {
    width: 25%;
    margin-bottom: 1rem;
}

.container-texto-informacao h4 {
    font-size:1.35em;
    margin-bottom: 1rem;
    line-height: 2em;
}

.container-texto-informacao p {
    font-size: 1.1em;
    margin-bottom: 1rem;
}

#planos {
    background-color: var(--cor2);
    padding-top: 5rem;
}

.container-planos {
    width: 80%;
    max-width: 900px;
    margin: auto;
    margin-bottom: 5rem;
    
    display: flex;
    flex-direction: column;
}

.tabela {
    border-collapse: collapse;
    box-shadow: 0px 0px 10px 5px var(--cor5);
    background-color: var(--branco);
}

.tabela thead th {
    vertical-align: top;
    border: 1px solid var(--cor2);
}

.tabela thead th h4 {
    margin: 1rem 0;
}

.tabela thead th img {
    width: 5rem;
    margin-bottom: 1rem;
}

.tabela thead th p {
    color: var(--cor3);
    font-size: .7em;
    margin: 1rem;
}

.tabela tbody td {
    border: 1px solid var(--cor2);
    font-size: .8em;
    padding: .5rem 1rem;
    text-align: center;
}

.tabela tbody tr:nth-child(odd) {
    background-color: var(--cor2);
}

.texto-azul {
    color: var(--cor5);
}

.subtitulo {
    text-align: center;
    font-size: 1.55em;
    margin-bottom: 3rem;
}

.rodape {
    margin: auto;
    text-align: center;
}

.container-contatos {
    width: 80%;
    max-width: 900px;
    margin: auto;
}

.container-contatos p {
    font-weight: bold;
    font-size: .79em;
    margin-top: .5rem;
}

.desenvolvedor {
    background-color: var(--cor1);
    padding: 1rem;
    margin-top: 2rem;
}

.desenvolvedor h4 a {
    color: var(--cor5);
    text-decoration: none;
}

@media (hover:hover) {
    .link-topo:hover {
        color: var(--cor5);
        background-color: var(--cor2);
        transition-duration: .5s;
    }
}

@media screen and (min-width: 768px) {
    body, html {
        font-size: 14px;
    }
    .container-topo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container-links-topo {
        gap: 1rem;
    }
    .container-banner {
        display: flex;
        flex-direction: row;
    }
    .container-texto-banner {
        font-size: .8em;
    }
    .img-banner {
        width: calc(100%/2);
    }
}

@media screen and (min-width: 992px) {
    body, html {
        font-size: 16px;
    }
    .container-informacoes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .informacao {
        width: calc(100%/3 - 2rem);
    }
}