:root {
    --branco: #fff;
    --ciano: #00CAD1;
    --verde-escuro: #0D6E71;
    --cor-fonte: #0000008C;
    --fonte: 'Source Sans Pro', sans-serif;
}

* { 
    color: var(--cor-fonte);
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: var(--fonte);
    font-size: 10px;
}

.limitador-largura {
    max-width: 1024px;
    margin: auto;
}

.container-texto {
    text-align: center;
    width: 80%;
    max-width: 60rem;
    margin: auto;
}

.container-texto h2 {
    font-size: 2.4em;
}

.container-texto h3 {
    font-size: 1.8em;
}

.container-texto p {
    font-size: 1.6rem;
    margin: 1.25rem 0;
}

.container-texto p strong {
    font-size: 1em;
}

/* Estilização do topo das páginas do site */

header {
    background-color: var(--ciano);
}

.container-topo {
    padding: 0 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-logo img {
    width: 13rem;
}

.links-nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.link-topo {
    color: var(--branco);
    font-size: 1.6rem;
    text-decoration: none;
}

@media (hover: hover) {
    .link-topo:hover {
        color: var(--cor-fonte);
        transition-duration: .5s;
    }
}