:root {
    --cor-de-fundo: #80808029;
    --roxo: #5D15D1;
    --branco: #fff;

    --fonte: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

html, body {
    background-color: var(--cor-de-fundo);
    font-size: 10px;
}

.limitador-largura {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

.topo {
    background-color: var(--branco);
    padding: 1.15rem 0;
}

.container-topo {
    display: flex;
    align-items: center;
    justify-content: left;
}

.container-topo img {
    width: 3.2rem;
    margin: 0 1rem;
}

.container-topo p {
    color: var(--roxo);
    font-size: 2.4em;
    font-weight: bold;
}

.formulario {
    padding: 5rem 0;
    background-image: url('../img/bahia.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-formulario {
    background-color: var(--branco);
}

.header-formulario {
    background-color: var(--roxo);
    padding: .75rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-formulario img {
    width: 2rem;
    transform: rotate(-45deg);
}

.header-formulario p {
    color: var(--branco);
    font-size: 1.4em;
    margin-left: .5rem;
}

.main-formulario {
    padding: 3rem 2.5rem 2rem 2.5rem;
    display: flex;
    flex-direction: column;
}

.main-formulario h2 {
    font-size: 2.2em;
    margin-bottom: 2.4rem;
}

.main-formulario fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

.main-formulario fieldset label, .main-formulario fieldset h3 {
    font-size: 1.6em;
    font-weight: normal;
}

.item-formulario {
    height: 3.2rem;
    width: 100%;
    margin: 1rem 0;
    padding: 0 .5rem;
}

.main-formulario .dados-viagem {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chegada, .partida, .origem, .destino {
    display: flex;
    flex-direction: column;
    width: calc(100% / 2 - 1rem);
    padding: 0 .5rem;
}

.line {
    display: flex;
    flex-direction: row;
}

.line label {
    margin-right: 5rem;
}

.main-formulario button {
    color: var(--branco);
    border: none;
    background-color: var(--roxo);
    padding: 1rem .5rem;
}

.ofertas, .anuncios {
    margin-top: 3.2rem;
}
 

.container-texto h2 {
    font-size: 2em;
    margin-bottom: 1rem;
}

.container-texto h3 {
    font-size: 1.6em;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

.container-texto span {
    font-weight: bold;
}

.container-imagens {
    height: 37.5rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.container-imagens .container-img-principal,
.container-imagens .container-img-pequenas {
    width: calc(50% - 1rem);
    height: 100%;
    height: 100%;
}

.container-imagens .container-img-principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-imagens .container-img-pequenas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 2.2rem;
}

.container-imagens .container-img-pequenas figure {
    width: calc(50% - .5rem);
    height: calc(50% - 1rem);
}

.container-imagens .container-img-pequenas figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-imagens .container-img-pequenas figure,
.container-imagens .container-img-principal {
    position: relative;
}

.container-imagens .container-img-pequenas figure figcaption,
.container-imagens .container-img-principal figcaption {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;

    color: var(--branco);
    background-color: rgba(0,0,0, 50%);
    font-size: 1.7em;
    padding: .5rem 1rem;
}

.anuncios .container-imagens {
    display: flex;
    justify-content: space-between;
}

.anuncios .container-imagens figure {
    width: calc(50% - 1rem);
}

.anuncios .container-imagens figure img {
    width: 100%;
}

.anuncios .container-imagens figure figcaption {
    background-color: var(--branco);
    width: 100%;
    padding: 2rem;
}

.anuncios .container-imagens figure figcaption h4 {
    font-size: 1.6em;
}

.anuncios .container-imagens figure figcaption p {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.rodape {
    background-color: var(--roxo);
    margin-top: 15rem;
    padding: 2rem;
}

.container-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-rodape h4 {
    color: var(--branco);
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.container-rodape img {
    width: 1.8rem;
}

.contato, .rede {
    display: flex;
    align-items: center;
    color: var(--branco);
    gap: 1rem;
    margin: .5rem 0;
}

@media screen and (max-width: 1100px) {
    .limitador-largura {
        width: 90%;
    }
}

@media  screen and (max-width: 768px) {
    .formulario button {
        width: 100%;
    }
    .container-imagens {
        width: 100%;
        flex-direction: column;
    }
    .container-imagens .container-img-principal,
    .container-imagens .container-img-pequenas {
        width: 100%;
        margin-top: 1.5rem;
    }
    .container-imagens .container-img-pequenas figure {
        display: flex;
        flex-direction: column;        
        width: 100%;
        gap: 0;
    }
    .container-imagens .container-img-principal,
    .container-imagens .container-img-pequenas figure {
        height: 22.5rem;
        margin-top: 1.5rem;
    }
    .anuncios {
        margin-top: 95rem;
    }
    .rodape {
        margin-top: 35rem;
    }
    .anuncios .container-imagens figure {
        width: 100%;
        height: 22.5rem;
        margin-bottom: 10.5rem;
    }
    .anuncios .container-imagens figure img {
        width: 100%;
        height: 100%;
    }
    .container-rodape {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contatos, .redes-sociais {
        width: 25rem;
    }
    .redes-sociais {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 540px) {
    .main-formulario {
        padding-bottom: 5rem;
    }
    .chegada, .partida, .origem, .destino {
        width: 100%;
    }
    .line {
        flex-direction: column;
    }
    .line div {
        margin-bottom: 1.5rem;
    }
    .preferencias {
        margin-bottom: 3rem;
    }
    .main-formulario button {
        margin-top: 7rem;
    }
}